body{
	margin:0;
	padding: 0;
	overflow-x: hidden;
	font-family: Lato, sans-serif;
}
header{
	margin: 0;
	padding: 0;
	width:100%;
	color:white;
	text-align: center;
}
a{
	text-decoration: none;
	color: inherit;
}
nav{
	top:0;
	position: fixed;
	width: 100%;
	z-index: 10;
	background-color: white;
	opacity: 0.8;
}
nav ul{
	top:0;
	/*background-color: #e6e6e6;
	opacity:0.8;*/
	padding-right: 60px;
	overflow: hidden;
	color:#808080;
	text-align: center;
	margin:0;

	-webkit-transition: max-height 0.6s;
	-moz-transition: max-height 0.6s;
	-ms-transition: max-height 0.6s;
	-o-transition: max-height 0.6s;
}
nav ul li{
	display: inline-block;
	padding: 30px 45px;
	letter-spacing: 0.5px;
	font-size: 100%;
}
nav ul li:hover{
	color: #eed677;
	text-shadow:0px 0px 100px #b3b3b3;
	cursor: pointer;
}
.handle{
	width:100%;
	background-color: #282828;
	text-align: left;
	box-sizing: border-box;
	padding: 5px 30px;
	color:white;
	cursor:pointer;
	display: none;
}
.handle p{
	font-size: 22px;
	display: inline-block;
}
.handle img{
	margin-top: 15px;
	float: right;
	display: inline-block;
	height: 40px;
	width: 40px;
}
.main{
	width: 100%;
}
#slider{
	height:90vh;
	overflow: hidden;
}
#slider img {
	width: 100%;
	background-size: cover;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    opacity: 0.9;
}
.landing-sign {
	font-family: 'Source Sans Pro:900', sans-serif;
	padding: 20px;
}
.sign1{
	color:#202020;
	font-size:3.8em;
	margin-top:10vh;
	text-align:right;
	letter-spacing:-4px;
}
.sign2{
	color: #eed677;
	font-weight: 700;
	font-size:1.8em;
	text-align:right;
	letter-spacing: -2px;
}
.aboutme{
	width: 100%;
	text-align: center;
}
.aboutme .description{
	width: 60%;
	margin: 100px auto 80px;
}
.aboutme span{
	font-size:14px;
	color: black;
	line-height: 1.8;
}
.showwork{
	text-align: center;
	width: 100%;
}
.section_title{
	font-weight: 900;
	font-size: 2.3em;
	letter-spacing: -2px;
	margin:15px;
}
.showwork img{
	width:12%;
}
.gallery{
	width: 100%;
	margin: 70px auto;
}
.gallery .frame{
	width: 33%;
	overflow: hidden;
	display: inline-block;
}
.gallery img{
	display: inline-block;
	width:100%;
	transition: all 0.3s ease;
}
.gallery img:hover{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    transform:scale(1.2);
}
/*.gallery data-lightbox.one{
	height: 90vh;
}*/
.loadmore_inv img{
	display: none;
}
@-webkit-keyframes bounce {
  0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  30%{
    transform: scale(1,0.95) translate(0px, 5px); 
  }

  75%{
    transform: scale(1,1.05) translate(0px, -15px); 
  }
  
 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}

.bouncy_button {
      text-align:center;
      margin:-60px auto 90px;
      width:100%;
      font-weight: 900;
      letter-spacing: -0.8px;
}
.bouncy_button img{
	border: solid 1px;
    border-color: black;
    border-radius: 10px;
	height:45px;
	width: 45px;

	-webkit-animation: bounce 1.7s infinite;
	-moz-animation: bounce 1.7s infinite;
	-ms-animation: bounce 1.7s infinite;
	-o-animation: bounce 1.7s infinite;
}
.bouncy_button img:hover{
	background-color: #eed677;
	border-color: #eed677;
	cursor: pointer;
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}
.showing_more img{
	display: block;
}
.achievements_title {
	margin: 90px auto 0;
	text-align: center;
}
.achievements_title img{
	width:12%;
}
.bubble-slideshow{
	margin: 50px 0px 0px;
}
#bubblebox{ 
	width: 100%; 
}
#bubbles{ 
	width:auto; 
	margin:0px 
	auto; 
	text-align:center; 
}
#bubbles > div{ 
	display:inline-block; 
	width:10px; 
	height:10px; 
	margin: 45px 10px 0px 10px;  
	text-align:center; 
	border:1px solid #999; 
	border-radius:100%; 
	font-size:17px; 
	text-decoration:none; 
	transition: background 0.3s linear 0s; 
	cursor:pointer; 
}
#bubblecontent{
	width: 65%;
	margin: auto;
	border: 1px solid grey;
	padding: 40px 90px;
	padding-bottom: 10px;
}
#bubblecontent img{ 
	width:100%;
	margin:0px auto; 
	transition:opacity 0.3s linear 0s; 
}
#bubblecontent > p{ 
	margin: auto;
	white-space: nowrap;
	font-size:15px; 
	line-height:1.4em; 
	padding:40px 50px; 
}
.contact{
	height: 270px;
	background-color: #202020;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 60px;
	text-align: center;
	color: white;
}
.contact .section_title{
	padding-top: 30px;
}
.contact img{
	width:12%;
}
.contact .con{
	display: inline-block;
	color:#eed677;
	padding: 0 15px;
	margin: 0;
	font-weight: 700;
}
#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    text-align:center;
    background-color: black;
    z-index: 10;
}
#lightbox p {
    text-align:right; 
    color:#fff; 
    margin-right:20px; 
    font-size:12px; 
}
#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-height:90vh;
}
/*RESPONSIVE*/
@media screen and (max-width:900px){
	h1{
		display: none;
	}
	nav{
		opacity: 0.9;
	}
	nav ul{
		max-height:0;
	}
	.showing{
		max-height: 20em;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	nav ul li{
		box-sizing:border-box;
		width:100%;
		padding: 14px;
		text-align: center;
		cursor: pointer;
	}
	nav ul li:hover{
		background-color: #eed677;
		color: #282828;
		width: 100%;
	}
	.handle{
		display: block;
	}
	.sign1{
		letter-spacing: -2px;
		font-size: 2.3em;
	}
	.aboutme .description{
		margin: 40px auto;
	}
	.section_title{
		font-size: 2em;
	}
	.showwork img{
		width:25%;
	}
	.gallery{
		text-align: center;
		margin: 40px auto;
	}
	.achievements_title img{
		width:25%;
	}
	#bubblecontent{
		width: 100%;
		padding: 0;
		margin: 0;
		border:none;
	}
	#bubbles div{
		margin-top:0;
	}
	.contact img{
		width:25%;
	}
}
@media screen and (max-width:650px){
	#slider{
		height: 40vh;
	}
	.gallery .frame{
		margin: auto;
		width:45%;
	}
	.showwork img{
		width:30%;
	}
	.bouncy_button {
      	margin:-130px auto 90px;
	}
	.achievements_title img{
		width:30%;
	}
	#bubbles > div{ 
		margin:0px 15px;
	}
	#bubblecontent > p{ 
		padding: 25px 30px;
		white-space: pre-wrap;
		text-align: center;
		font-size:14px; 
	}
	.contact img{
		width:30%;
	}
	#lightbox img {
    width:90%;
    margin-top: 20px;
	}
}